.map {
  height: 100vh;
}
.lineNumber {
  font-size: 13px;
  color: #424242;
  font-weight: bold;
  display: block;
}
.div {
  background-color: #fff;
  padding-top: 1px;
  height: 50px;
  box-shadow: rgba(79, 79, 126, 0.2) 0px 7px 29px 0px;
  border-radius: 2px;
  line-height: 0.8;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.div:hover {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}